name: build
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build and Scan
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t docker.io/my-organization/my-app:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        id: trivy_scan
        with:
          image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
          format: 'json'         # JSON is easier to store as artifact
          output: 'trivy-report.json'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      - name: Upload Trivy scan report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json
