name: Trivy Scan Maven & SBOM

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  trivy-scan:
    runs-on: ubuntu-24.04
    steps:
      # Step 1: Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: Set up Java
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '25'

      # Step 3: Download Maven dependencies offline
      - name: Download Maven dependencies
        run: mvn dependency:go-offline -B

      # Step 4: Generate SBOM using CycloneDX Maven plugin
      - name: Generate SBOM
        run: mvn cyclonedx:makeAggregateBom -DoutputFormat=json


      # Step 6: Run Trivy SBOM scan
      - name: Run Trivy SBOM scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'sbom'
          input: 'target/bom.json'         # Path to SBOM generated in Step 4
          format: 'json'
          output: 'trivy-sbom-report.json'
          exit-code: '1'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # Step 7: Upload Trivy reports
      - name: Upload Trivy reports
        uses: actions/upload-artifact@v4
        with:
          name: trivy-reports
          path: |
            trivy-deps-report.json
            trivy-sbom-report.json
